.projects {
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.project__title {
	margin-bottom: 10vh;
}

.project__title__header {
	text-align: center;
	color: #80abb1;
	font-size: 2rem;
	font-weight: 700;
}

.project__title__p {
	margin-bottom: 50px;
	color: #182b31;
}

.project__title__p > a {
	text-decoration: none;
}

.projects__cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	gap: 1rem;

	align-content: flex-start;
}

.project__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 450px;
	height: 30vh;
	background-color: white;

	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	position: relative;
}

.project__card__img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: all 0.3s ease-in-out;
	object-fit: cover;
}

.project__card__hover {
	/* display: none; */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #182b31a9;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.project__card__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	align-items: center;
	transition: all 1s ease-in-out;
}

.project__card__text {
	font-size: 1.25rem;
	font-weight: 500;
	color: white;
	/* margin-bottom: 20px; */
	max-width: 80%;
	margin: auto;
	margin-bottom: 40px;
}

.project__card__button {
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 10px;
	width: 120px;
	height: 50px;
	font-size: 14px;
	font-weight: 700;
	color: white;
	margin-top: -50px;
	margin-bottom: 70px;
}

.project__card__button:hover {
	background-color: white;
	color: #182b31;
	cursor: pointer;
}

.hidden {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1024px) {
	.project__title {
		margin-top: 12em;
	}
}

@media only screen and (max-width: 768px) {
	.projects {
		margin-top: 50em;
	}
	.project__card__wrapper {
		width: 450px !important;
	}
	.project__card__img {
		width: 450px !important;
	}
	.project__card__hover,
	.project__card__text {
		opacity: 1;
	}
}

@media only screen and (max-width: 425px) {
	.project__title {
		margin-top: 5em;
		justify-content: center;
		text-align: center;
	}
	.project__title__p {
		width: 70%;
		text-align: center;
		margin-left: 60px;
	}

	.project__card {
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 375px) {
	.projects {
		margin-top: 35em;
	}
	.project__card__text {
		width: 80%;
	}
}

@media only screen and (max-width: 320px) {
	.project__card__text {
		width: 60%;
		font-size: 1em;
	}
}
