/* making this position relative means that when we make the header position absolute
then it will be relative to this div not the whole page. */
.herobanner {
	position: relative;
	width: 100vw;
}

.herobanner__img {
	height: calc(100vh - 120px);
	width: 100%;
	object-fit: cover;
	margin: 0;
	padding: 0;
	margin-bottom: -5px;
}

.herobanner__header {
	position: absolute;
	width: 100%;
	top: 130px;
	text-align: center;
	display: flex;
	justify-content: center;

	display: flex;
	flex-direction: column;
}

.herobanner__header__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.herobanner__header__h1 {
	font-weight: 900;
	font-size: 3rem;
	color: white;
}

.herobanner__header__h3 {
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 20px;
	color: white;
}

.herobanner__header__btn {
	font-weight: 900;
	font-size: 1.5rem;
	color: white;
	background-color: #80abb1;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.herobanner__header__btn:hover {
	background-color: white;
	color: #80abb1;
	transform: scale(1.1);
}

@media only screen and (max-width: 425px) {
	.herobanner__header__h1 {
		width: 80vw;
	}
}

@media only screen and (max-width: 375px) {
	.herobanner__header__h1 {
		font-size: 2.5rem;
	}
	.herobanner__header__h3 {
		font-size: 1.25rem;
	}
}
