.skills {
	background-color: white;
	height: 130vh;
}

.skills__green__wrapper {
	background-color: #1c3339;
	height: 60vh;
}

.skills__green__wrapper__header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.skills__green__title {
	display: flex;
	font-weight: 900;
	font-size: 2.5rem;
	width: 100%;
	justify-content: center;
	height: 200px;
	align-items: flex-end;
	color: white;
}

.skills__green__p {
	display: flex;
	font-weight: 300;
	font-size: 1.25rem;
	width: 30vw;
	justify-content: center;
	height: 100px;
	align-items: flex-end;
	color: white;
}

.skills__cards {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}

.skills__cards__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80vw;
	height: 100%;
}

.skillscard__icon {
	height: 50px;
	width: 50px;
}
