.navbar {
	display: flex;
	height: 120px;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
}

.navbar__logo {
	margin-right: 100px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.navbar__img {
	height: 100px;
	width: 150px;
	cursor: pointer;
	object-fit: cover;
	transform: rotate(45deg) translateY(-20%);
}

.navbar__button {
	height: 50px;
	width: 120px;
	border-radius: 100px;
	background-color: white;
	color: #1c3339;
	border-color: #1c3339;
	font-weight: 700;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.navbar__button:hover {
	background-color: #1c3339;
	color: white;
	border-color: #1c3339;
}

@media only screen and (max-width: 768px) {
	.navbar {
		justify-content: space-around;
		width: 100vw;
	}
}

@media only screen and (max-width: 425) {
	.navbar {
		justify-content: center;
		width: 100vw;
	}
}
