.navbar {
	display: flex;
	height: 120px;
	justify-content: space-around;
	align-items: center;
}

.navbar__logo {
	margin-right: 100px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.navbar__img {
	height: 100px;
	width: 150px;
	cursor: pointer;
	object-fit: cover;
	transform: rotate(45deg) translateY(-20%);
}

.navbar__button {
	height: 50px;
	width: 120px;
	border-radius: 100px;
	background-color: white;
	color: #1c3339;
	border-color: #1c3339;
	font-weight: 700;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.navbar__x {
	display: none;
}

.navbar__x__bar {
	height: 50px;
	width: 50px;
	background-color: yellow;
}

.navbar__button:hover {
	background-color: #1c3339;
	color: white;
	border-color: #1c3339;
}

@media only screen and (max-width: 768px) {
	.navbar__button {
		display: none;
	}

	.navbar__x {
		display: block;
	}
}
