* {
	margin: 0px;
	font-family: "Inter", sans-serif;
	/* this trick will show you the outline of every node */
}
body {
	width: 100vw;
	overflow: scroll;
	overflow-x: hidden;
}

html {
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}

@media only screen and (max-width: 768px) {
	body {
		width: 100vw;
	}
}

@media only screen and (max-width: 425px) {
	body {
		width: 100vw;
	}
}
